// Bootstrap variables etc. customization

// Fonts:
@font-face {
  font-family: 'Open Sans';
  src: url('../assets/font/Open_Sans/OpenSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/font/Open_Sans/OpenSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/font/Open_Sans/OpenSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/font/Open_Sans/OpenSans-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../assets/font/Roboto_Slab/RobotoSlab-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../assets/font/Roboto_Slab/RobotoSlab-SemiBold.ttf');
  font-weight: 600;
}

// Font variable overrides:
$font-family-sans-serif: 'Open Sans', sans-serif !default;
$font-family-base: $font-family-sans-serif !default;
$font-weight-normal: 400;
$headings-font-family: 'Roboto Slab', serif;
$headings-font-weight: 600;
$btn-font-weight: 500;

// Metropolia's brand colors:
$orange: rgb(255, 80, 0);
$grey: rgb(83, 86, 90);
$light: rgb(240, 240, 240);
$dark: rgb(30, 30, 30);
$red: rgb(203, 34, 40);
$blue: rgb(64, 70, 168);
$yellow: rgb(255, 240, 0);
$pink: rgb(227, 132, 196);
$cyan: rgb(93, 177, 228);
$green: rgb(59, 168, 143);
$white: rgb(250, 250, 250);
$black: rgb(15, 15, 15);

$primary: $orange;
$secondary: $grey;
$success: $green;
$danger: $red;
$warning: $yellow;
$info: $cyan;

// Card;
$card-bg: $light;

// Modal:
$modal-md: 967px;
$modal-inner-padding: 0 1rem 1rem 1rem;
$modal-header-padding: 1rem;
$modal-content-border-width: 0;
$modal-header-border-width: 0;

// Other:
$border-radius: 0.5rem;
$form-select-indicator-color: $primary;

// Navbar:
$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;
$navbar-toggler-focus-width: 0;
$navbar-light-toggler-icon-bg: none;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1520px
);
