@use 'custom'; // Bootstrap customization
@import 'custom'; // Bootstrap customization
@import '~bootstrap/scss/bootstrap'; // Bootstrap and its default variables
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css'); // Bootstrap icons

// Styling for Digital Signage:
body {
  height: 100vh;
}

main {
  height: calc(100% - 5.5rem);
}

.announcement-section img {
  box-shadow: 0 2px 24px rgba(custom.$dark, 0.15);
  border-radius: custom.$border-radius;
  width: 100%;
}

.badge {
  font-size: 1rem;
}

// Navigation:
.navbar {
  background-color: custom.$white;
  box-shadow: 0 2px 24px rgba(custom.$dark, 0.15);
  border-bottom: 4px solid custom.$primary;
  height: 5.5rem;
}

.navi-txt {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: custom.$dark;
  font-size: 1.5rem;
}

// Menus:
.menus {
  box-shadow: 0 2px 24px rgba(custom.$dark, 0.15);
  padding: 1rem 1.25rem;
  border-radius: custom.$border-radius;
  background-color: custom.$white;
}

#menus-list {
  background-color: custom.$white;
  border-radius: 0;

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgba(custom.$black, 0.125);
    gap: 0.5rem;

    &:first-child {
      padding-top: 0;
    }

    &-name {
      font-family: 'Roboto Slab', serif;
      margin-bottom: 0.25rem;
    }

    &-price {
      margin-bottom: 0;
    }

    &-dietcodes {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      gap: 0.25rem;
    }

    @media screen and (max-width: 575px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.menu-name {
  font-size: 1.15rem;
}

#dietcode-exp-body {
  margin: 0;
}

// HSL:
.routes-info {
  background-color: custom.$white;
  box-shadow: 0 2px 24px rgba(custom.$dark, 0.15);
  border-radius: custom.$border-radius 0 0 custom.$border-radius;
}

#routes {
  background-color: custom.$white;
  padding: 1rem 1.25rem;
}

.route-info {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(custom.$black, 0.125);
  gap: 0.5rem;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
    border: 0;
  }

  .badge {
    margin-bottom: 0.5rem;
  }
}

.stopname,
.destinationname {
  font-size: 1.15rem;
  font-family: 'Roboto Slab', serif;
}

.departure {
  font-size: 1.15rem;
}

#routes-map {
  aspect-ratio: 4/3;
  border-radius: 0 custom.$border-radius custom.$border-radius 0;
}

//fade in animation - change the duration to the same as the delay for the slide
.fade-in {
  animation: fade 10s;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(1.01);
    filter: blur(2px);
  }
  5% {
    opacity: 1;
  }
  20% {
    transform: rotate3d(0, 0, 0, 10deg);
    filter: blur(0px);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
